@import url(https://fonts.googleapis.com/css?family=Roboto:100,100italic,300,300italic,regular,italic,500,500italic,700,700italic,900,900italic);
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

html,
body,
.wrapper {
  width: 100%;
  height: 100%;
}

button {
  background-color: transparent;
  border: none;
  cursor: pointer;
  font-family: inherit;
}

a {
  text-decoration: none;
  color: inherit;
}

input,
select,
textarea {
  font-family: inherit;
}

ul,
ol,
li {
  list-style: none;
}

.wrapper {
  font-family: "Roboto", sans-serif;
  font-size: 14px;
  font-weight: normal;
  font-style: normal;
  line-height: 110%;
  display: flex;
  flex-direction: column;
}

.main {
  flex: 1 1 auto;
}

.container {
  width: 100%;
  max-width: 1173px;
  padding: 0 24px;
  margin: 0 auto;
}

.section-title__title {
  position: relative;
  font-family: "Roboto", sans-serif;
  font-weight: 500;
  font-size: 32px;
  line-height: 134%;
  color: #1F2E35;
  padding-bottom: 18px;
  margin-bottom: 24px;
}
.section-title__title::before {
  content: "";
  position: absolute;
  bottom: 0;
  left: 0;
  width: 90px;
  height: 10px;
  background-image: url(../../../images/title-line.svg);
  background-size: cover;
  background-repeat: no-repeat;
}

.header {
  position: relative;
  padding: 22px 0;
  box-shadow: 0 1px 4px 0 rgba(0, 0, 0, 0.25);
  background-color: #fff;
  transition: all 0.2s ease-in-out;
  z-index: 1000;
}
@media screen and (max-width: 768px) {
  .header {
    padding: 11px 0;
  }
}
.header-row {
  display: flex;
  align-items: center;
  justify-content: space-between;
}
@media screen and (max-width: 768px) {
  .header-nav {
    display: none;
  }
}
.header-link {
  font-family: "Roboto", sans-serif;
  font-weight: 400;
  font-size: 18px;
  color: rgba(31, 46, 53, 0.8);
  transition: all 0.2s ease-in-out;
}
.header-link:not(:last-child) {
  margin-right: 50px;
}
@media screen and (max-width: 1000px) {
  .header-link:not(:last-child) {
    margin-right: 20px;
  }
}
.header-link:hover, .header-link.active {
  color: #EE4248;
}
.header-button {
  transition: all 0.2s ease-in-out;
}
.header-button path {
  transition: all 0.2s ease-in-out;
}
.header-button:not(:last-child) {
  margin-right: 24px;
}
@media screen and (max-width: 900px) {
  .header-button:not(:last-child) {
    margin-right: 12px;
  }
}
.header-button:hover path {
  fill: #EE4248;
}
@media screen and (max-width: 768px) {
  .header-buttons {
    display: none;
  }
}
.header-mobile {
  display: none;
}
@media screen and (max-width: 768px) {
  .header-mobile {
    display: block;
  }
}

.footer-top {
  padding: 24px 0;
}
.footer-bottom {
  background-color: #EE4248;
  padding: 20px 0;
  text-align: center;
}
.footer-bottom__text {
  font-family: "Roboto", sans-serif;
  font-weight: 400;
  font-size: 18px;
  color: #fff;
}
.footer-row {
  display: flex;
  align-items: center;
  justify-content: space-between;
}
@media screen and (max-width: 900px) {
  .footer-row {
    flex-wrap: wrap;
    row-gap: 20px;
  }
}
@media screen and (max-width: 768px) {
  .footer-row {
    flex-wrap: nowrap;
    flex-direction: column;
    align-items: unset;
  }
}
.footer-about {
  max-width: 30%;
  font-family: "Roboto", sans-serif;
  font-size: 18px;
  color: #263238;
}
@media screen and (max-width: 900px) {
  .footer-about {
    max-width: 40%;
  }
}
@media screen and (max-width: 768px) {
  .footer-about {
    max-width: 100%;
  }
}
.footer-about__text {
  display: block;
  margin: 8px 0;
  font-weight: 500;
}
.footer-about__address {
  font-weight: 300;
  line-height: 149%;
}
.footer-contact {
  font-family: "Roboto", sans-serif;
  color: #263238;
}
@media screen and (max-width: 768px) {
  .footer-contact {
    max-width: 100%;
  }
}
.footer-contact__nav {
  display: flex;
  flex-direction: column;
  row-gap: 8px;
}
.footer-contact__title {
  font-weight: 500;
  font-size: 24px;
  margin-bottom: 16px;
}
.footer-contact__link {
  font-weight: 300;
  font-size: 18px;
  line-height: 149%;
}
.footer-contact__link:hover {
  text-decoration: underline;
  color: #EE4248;
}
.footer-brands {
  max-width: 418px;
  display: flex;
  align-items: center;
  flex-wrap: wrap;
  -moz-column-gap: 24px;
       column-gap: 24px;
  row-gap: 16px;
}
@media screen and (max-width: 1000px) {
  .footer-brands {
    max-width: 360px;
  }
}
@media screen and (max-width: 900px) {
  .footer-brands {
    max-width: 100%;
  }
}

.banner {
  padding: 50px 0;
}
.banner-row {
  display: flex;
  align-items: center;
  justify-content: space-between;
}
@media screen and (max-width: 768px) {
  .banner-row {
    flex-direction: column-reverse;
  }
}
.banner-content {
  width: 48.5%;
  font-family: "Roboto", sans-serif;
  font-weight: 400;
}
@media screen and (max-width: 768px) {
  .banner-content {
    width: 100%;
    text-align: center;
  }
}
.banner-image {
  width: 48.5%;
  height: 100%;
}
@media screen and (max-width: 768px) {
  .banner-image {
    width: 100%;
    height: 236px;
    margin-bottom: 32px;
  }
}
.banner-image img {
  width: 100%;
  height: 100%;
}
.banner-title {
  font-weight: 700;
  font-size: 48px;
  line-height: 134%;
  color: #1F2E35;
  margin-bottom: 24px;
}
.banner-title__red {
  color: #EE4248;
}
@media screen and (max-width: 1000px) {
  .banner-title {
    font-size: 38px;
  }
}
@media screen and (max-width: 900px) {
  .banner-title {
    font-size: 34px;
  }
}
@media screen and (max-width: 768px) {
  .banner-title {
    margin-bottom: 16px;
  }
}
.banner-subtitle {
  font-size: 20px;
  line-height: 145%;
  color: #30444e;
  margin-bottom: 24px;
}
@media screen and (max-width: 768px) {
  .banner-subtitle {
    margin-bottom: 16px;
    font-size: 20px;
  }
}
.banner-button {
  border-radius: 4px;
  padding: 12px 32px;
  box-shadow: 1px 2px 4px 0 rgba(0, 0, 0, 0.25);
  background-color: #EE4248;
  font-size: 20px;
  line-height: 145%;
  color: #fff;
  border: 1px solid transparent;
  transition: all 0.2s ease-in-out;
}
.banner-button:hover {
  background-color: transparent;
  border-color: #EE4248;
  color: #EE4248;
}
@media screen and (max-width: 768px) {
  .banner-button {
    font-size: 20px;
  }
}

.services-page .banner {
  position: relative;
  height: 400px;
  background-image: url(../../../../images/services/banner/banner-bg.svg);
  background-repeat: no-repeat;
  background-size: cover;
  background-position: 0 -70px;
}
@media screen and (max-width: 768px) {
  .services-page .banner {
    height: 330px;
    background-position: center top;
  }
}
.services-page .banner-title {
  font-weight: 400;
  text-align: center;
}
.services-page .banner-content {
  position: relative;
  margin: 0 auto;
}

.services {
  padding: 0 0 74px 0;
}
.services-row {
  display: flex;
  align-items: center;
  justify-content: space-between;
}
@media screen and (max-width: 1000px) {
  .services-row {
    flex-direction: column-reverse;
  }
}
.services-text {
  font-family: "Roboto", sans-serif;
  font-weight: 400;
  font-size: 18px;
  line-height: 150%;
  color: #30444e;
}
.services-text__red {
  font-weight: 500;
  color: #EE4248;
}
.services-content {
  width: 46%;
}
@media screen and (max-width: 1000px) {
  .services-content {
    width: 100%;
  }
}
.services-image {
  flex-shrink: 1;
  width: 48.6%;
  height: 100%;
}
@media screen and (max-width: 1000px) {
  .services-image {
    width: 100%;
    height: 370px;
    margin-bottom: 50px;
  }
}
.services-image img {
  width: 100%;
  height: 100%;
}/*# sourceMappingURL=main.css.map */