
// Fonts

$main-font: 'Roboto', sans-serif;


// Colors

$black-color: #1F2E35;
$white-color: #fff;
$red-color: #EE4248;
$nav-link-color: rgba(31, 46, 53, 0.8);
$subtitle-color: #30444e;
$footer-text-color: #263238;

// Sizes

$max-width-container: 1173px;

